@import url("https://fonts.googleapis.com/css?family=Orbitron|Monda&display=swap");

html {
		background-color: linen;
}

body {
		margin: 0px 0px 20px 0px;
}

header {
		grid-area: header;
}

.wrapper {
		display: grid;
		grid-template-areas:
			"header"
			"nav"
			"clock"
			"aside"
}

@media (min-width: 500px) {
	.wrapper {
			grid-template-columns: 1fr 3fr;
			grid-template-areas:
				"header header"
				"nav    nav"
				"aside  clock"
		}
}

@media (min-width: 1100px) {
	.wrapper {
			grid-template-columns: 1fr 4fr;
			grid-template-areas:
				"header header"
				"nav    nav"
				"aside  clock"
		}
}

header h1 {
		margin: 0px;
		background-color: #331035;
}

nav {
		position: sticky;
		top: 0;
		display: flex;
		align-items: center;
		font-family: 'Orbitron', sans-serif;
		background-image: linear-gradient(to bottom left, #331035 40%, #66CCFF 95%);
		border-radius: 0px 0px 20px 0px;
		grid-area: nav;
}

aside {
		padding: 10px;
		grid-area: aside;
}

.nav-button {
		flex-basis: 10vw;
		font-weight: bold;
		color: #262626;
		background-color: rgba(255, 163, 26, 0.90);
		padding: 10px;
		margin: 5px;
		border: 3px solid #262626;
		border-radius: 7px 7px 7px 7px;
}

.nav-button:hover {
		background-color: rgba(255, 163, 26, 0.65);
}

#myClock {
		font-family: 'Orbitron', sans-serif;
		font-size: 4em;
		color: #00EE00;
		//background: black;
		margin: 10px;
		padding: 15px;
		grid-area: clock;
		min-width: 5em;
		align-self: start;
		justify-self: start;
}

ul {
		background-color: green;
		padding: 10px;
		border: 1px;
}

h1 {
		font-family: 'Orbitron', sans-serif;
		color: lightcyan;
		padding: 5px 10px;
}

h2 {
		font-family: 'Orbitron', sans-serif;
		font-size: 1.3em;
		background-color: #20B2AA;
		padding: 8px 8px 3px;
}

h2:hover {
		transform: scaleY(1.1);
}

p {
		font-family: 'Monda', serif;
		color: black;
		font-size: 1em;
		text-indent: 3em;
}

a:visited {
		color: maroon;
}

a:hover {
		text-decoration: none;
}

